.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  text-align: center;
}

.TitleSection {
  background-color: #5db9ff;
  width: 100%;
  height: 18rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.TitleSection input {
  width: 14rem;
  height: 2.5rem;
  font-size: 1.1rem;
  padding-left: 1.1rem;
  border-radius: 10px;
  border: 2px solid #4ca8ee;
  outline: none;
}

.TitleSection button {
  width: 11rem;
  height: 3.5rem;
  margin: 20px;
  font-size: 1.1rem;
  border-radius: 10px;
  border: 2px solid #4ca8ee;
  color: #fff;
  background-color: #006cbf;
  border-bottom: 3px solid #01589b;
  outline: none;
}

.TitleSection button:hover {
  cursor: pointer;
}

@keyframes clickEffect {
  to {
    transform: translateY(2px);
    border-bottom: none;
  }
}

.TitleSection button:active {
  animation: clickEffect 0.2s linear;
}

.DisplaySection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.DisplaySection h4,
h3 {
  margin: 5px;
}

.DisplaySection img {
  width: 200px;
}
